---
layout: home
title: CascadiaJS 2013
---
	<section class="lead-paragraph">
	  	<p>CascadiaJS is a two-day conference on the cutting edge of JavaScript. Browser, server, OS – we cover it all.</p>
	</section>

	<section class="callstoaction">

		<ul class="actions">
			<li>
				<img src="images/github-icon@2x.png" width="93" alt="An icon with Github’s octocat character"/>
			  	<h2>Speak</h2>
			  	<p>Want to speak at CascadiaJS 2013? We are running <a href="https://github.com/cascadiajs/2013.cascadiajs.com" target="_blank" title="A link to the CascadiaJS open proposal process on Github">an open proposal process on Github</a>.</p>
			</li>
			<li>
				<img src="images/ticket-icon@2x.png" width="56" alt="An icon of a ticket"/></p>
			  	<h2>Attend</h2>
			  	<p>Early bird tickets will go on sale soon. Feel free to sign-up for <a href="https://tito.io/event-loop/cascadiajs-2013" title="A link to the CascadiaJS tickets for purchase on tito.io">our interest list</a> or follow <a href="http://twitter.com/cascadiajs" target="_blank" title="Link to the CascadiaJS Twitter page">@CascadiaJS</a> for updates.</p>
			 </li>
			 <li>
			    <img src="images/trophy-icon@2x.png" width="93" alt="An icon of a trophy"/>
			  	<h2>Sponsor</h2>
			  	<p>If you’re interested in helping to make CascadiaJS 2013 happen, please check out our <a href="http://2013.cascadiajs.com/CascadiaJS2013-SponsorshipPackages.pdf" target="_blank" title="A link to the Sponsorship Brochure for potential sponsors of CascadiaJS to consider options">Sponsorship Brochure</a>.</p>
			 </li>
		</ul>

	</section>

	<section>
		
		<h2>Organizers</h2>

		<ul class="organizers">
			<li>
				<img src="images/organizers/carterrabasa@2x.jpg" width="96" alt="Carter Rabasa Profile Phtoo"/>
				<h3>Carter Rabasa</h3>
			</li>
			<li>
				<img src="images/organizers/angelinafabbro@2x.jpg" width="96" alt="Angelina Fabbro Profile Phtoo"/>
				<h3>Angelina Fabbro</h3>
			</li>
			<li>
				<img src="images/organizers/justinalm@2x.jpg" width="96" alt="Justin Alm Profile Phtoo"/>
				<h3>Justin Alm</h3>
			</li>
			<li>
				<img src="images/organizers/yuriydybskiy@2x.jpg" width="96" alt="Yuriy Dybskiy Profile Phtoo"/>
				<h3>Yuriy Dybskiy</h3>
			</li>
		</ul>
	</section>
	
	<section>

		<h2>Sponsors</h2>

		<ul class="sponsors">
			<li>
				<img src="images/sponsors/twilio@2x.png" width="208" alt="Twilio Logo"/>
			</li>
			<li>
				<img src="images/sponsors/winazure@2x.png" width="208" alt="Windows Azure Logo"/>
			</li>
			<li>
				<img src="images/sponsors/cloudant@2x.png" width="208" alt="Cloudant Logo"/>
			</li>
		</ul>
	</section>

	<section>

		<h2>Join The CascadiaJS Community!</h2>	
	
		<div id="community"></div>

	</section>

	<!-- Before There Were Speakers -->

	<section class="callout">
		<h2 class="h2callout">More info coming soon!</h2>
	</section>

	<section class="more-info">
		<p>If you’re curious about last year’s event, see the <a href="http://2012.cascadiajs.com" target="_blank" title="A link to the Cascadia 2012 website">CascadiaJS 2012 site</a>.</p>
	</section>

	<!-- The Speakers -->

<!-- 	<hr class="under-lead">

		<ul class="speakers-list">
			
			<h2 class="speakers">Speakers</h2>
			
				{% for post in site.posts %}
				    <li>
				        <a href="{{ BASE_PATH }}{{ post.proposal-link }}" target="_blank" title="{{ post.title }} – {{ post.description }}">
				        {% if post.thumbnail %}
						<img src="{{ post.thumbnail }}" alt="An image of {{ post.title }}"/>
						{% else %}
						<img src="/images/nothumbnail.png" alt="An default image for speakers that did not submit an image"/>
						{% endif %}
						<h3>{{ post.title }}</h3></a>
						<p>{{ post.short-description }}</p>
				    </li>
				{% endfor %}

		</ul>

		<div class="clearfix"></div> -->